/* || General setup */

html, body {
    margin: 0;
    padding: 0;
    
  }
  
  html {
    
    background-color: #ebb166;
  }
  
  body {
    width: 90%;
    margin: 0 auto;
  
  }
  picture {
    display:flex ;
    justify-content: center;
  }
  img {
    width: 450px;
    
  }
  /* || typography */
  
  h1, h3 {
    text-align: center;
    color: #000000;
  }
  
  input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffca64;
  }

  p {
    font-size: 1.2em;
    color: #000000;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 2px  #ffffff

  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px  #ffffff;
    color: #000000;
    
  }
  
  h3 {
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px  #ffffff
  }
  
  li {
    font-size: 1.6rem;
    line-height: 2;

    
  }
  
  /* || header layout */
  
 article {
    background-image: url(assets/scorpion.jpg);
    background-position: 15% 75%;
    background-size: 1375px;
  }

  footer {
    background-color: #f7bf58;
  }
  
  nav {
    height: 80px;
    background-color: #bb6f0e;
    display: flex;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px  #000000
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #080606;
    border: 0;
    color: rgb(180, 65, 49);
  }
  
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    background-image: url(assets/mk4.jpg);
    background-size: 357px;
  }
  
  aside li {
    padding-bottom: 1px;
  }

  aside li a {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px #ffffff;
  }
  
  footer {
    margin-top: 10px;
    
   
  }

  .padre{
    display: flex;
    justify-content: center;
  }

  .hijo{
    margin-bottom: 10px;
  }

  .menu ul, .menu li{
    margin: 0;
    padding: 0;
  }

  .menu ul {
    background-color: #bb6f0e;
    list-style: none;
    width: 100%;
  }

  .menu li {
    float: left;
    position: relative;
    width: auto;
  }

  .menu a{
    background-color: #bb6f0e;
    color: #ffffff;
    display: block;
    font-weight: 400;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0,25sg ease;
    font-size: 25px;

  }

  .menu li:hover a{
    background: #bb6f0e;
  }

  #submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    flex-direction: column;
  }

  li:hover ul#submenu {
    opacity: 1;
    top: 80px;
    visibility: visible;
  }

  .car{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  #baraka{
    background-image: url(assets/baraka.jpg);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 10px;
    background-color: #ffffff;
    background-size: 450px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #baraka:hover{
    transform: scale(1.2);
  }

  #scorpion{
    background-image: url(assets/scorpion3.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 270px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }

  #scorpion:hover{
    transform: scale(1.2);
  }
  #liukang{
    background-image: url(assets/liu.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 320px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #liukang:hover{
    transform: scale(1.2);
  }

  #kitana{
    background-image: url(assets/kitanita2.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 30px;
    background-color: #ffffff;
    background-size: 350px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #kitana:hover{
    transform: scale(1.2);
  }

  #jade{
    background-image: url(assets/jade1.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 10px;
    background-color: #ffffff;
    background-size: 400px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #jade:hover{
    transform: scale(1.2);
  }
  #mileena{
    background-image: url(assets/mili.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 300px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #mileena:hover{
    transform: scale(1.2);
  }

  #shao{
    background-image: url(assets/shao.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 5px;
    background-color: #ffffff;
    background-size: 400px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #shao:hover{
    transform: scale(1.2);
  }

  #sindel{
    background-image: url(assets/sindel.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center ;
    background-color: #ffffff;
    background-size: 240px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #sindel:hover{
    transform: scale(1.2);
  }

  #smoke{
    background-image: url(assets/smoki.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 130px;
    background-color: #ffffff;
    background-size: 320px 570px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #smoke:hover{
    transform: scale(1.2);
  }

  #jax{
    background-image: url(assets/jax2.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 90px;
    background-color: #ffffff;
    background-size: 275px 610px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #jax:hover{
    transform: scale(1.2);
  }

  #sonya{
    background-image: url(assets/sonya1.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 95px;
    background-color: #ffffff;
    background-size: 400px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #sonya:hover{
    transform: scale(1.2);
  }

  #jc{
    background-image: url(assets/jc1.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 600px 640px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #jc:hover{
    transform: scale(1.2);
  }

  #kano{
    background-image: url(assets/kano4.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 290px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #kano:hover{
    transform: scale(1.2);
  }

  #kabal{
    background-image: url(assets/kabalito.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 80px;
    background-color: #ffffff;
    background-size: 400px 650px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #kabal:hover{
    transform: scale(1.2);
  }

  #raiden{
    background-image: url(assets/raiden3.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 300px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #raiden:hover{
    transform: scale(1.2);
  }
  #sz{
    background-image: url(assets/sz.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: center;
    background-color: #ffffff;
    background-size: 250px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
    opacity: 100%;
  }

  #sz:hover{
    transform: scale(1.2);
    opacity: 0%;
  }

  #reptile{
    background-image: url(assets/reptil.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 95px;
    background-color: #ffffff;
    background-size: 350px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #reptile:hover{
    transform: scale(1.2);
  }

  #kenshi{
    background-image: url(assets/kenshicito.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 60px;
    background-color: #ffffff;
    background-size: 350px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #kenshi:hover{
    transform: scale(1.2);
  }
  
  #qc{
    background-image: url(assets/quanchi.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 125px;
    background-color: #ffffff;
    background-size: 250px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #qc:hover{
    transform: scale(1.2);
  }

  #st{
    background-image: url(assets/st.webp);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 65px;
    background-color: #ffffff;
    background-size: 400px 700px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #st:hover{
    transform: scale(1.2);
  }

  #ermac{
    background-image: url(assets/ermi.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 65px;
    background-color: #ffffff;
    background-size: 400px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #ermac:hover{
    transform: scale(1.2);
  }
  #noob{
    background-image: url(assets/jajanub.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 65px;
    background-color: #ffffff;
    background-size: 400px 600px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #noob:hover{
    transform: scale(1.2);
  }

  #sc{
    background-image: url(assets/sc.png);
    flex:1 0 auto;
    margin: 0% 50px;
    width: 500px;
    height: 700px;
    background-position: 65px;
    background-color: #ffffff;
    background-size: 350px 610px;
    background-repeat: no-repeat;
    transition: 1s;
    object-fit: cover;
  }
  #sc:hover{
    transform: scale(1.2);
  }

  div {
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 40px;
    color: #202020;
    text-shadow: 1px 1px 1px #000000;
  }

  p{
  visibility: hidden;
  background-size: contain;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
  }

  
 
  